.github
.gitignore
.prettierrc.mjs
.release-please-manifest.json
.vscode-test/**
.vscode/**
.yarnrc
*.config.mjs
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig*.json
compile.mjs
release-please-config.json
src/**
test
vsc-extension-quickstart.md
